<footer class="footer pt-90 pb-90 text-center">
    <!--Container-->
    <div class="container">
        <!--Row-->
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center ">
                <a class="logo scroll" href="#hero">
                    <h2>fit<span>sys</span></h2>
                </a>
                <p>&copy; 2023 Todos los Derechos Reservados - Proyecto Universitario</p>
                <ul class="mt-10">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/auth/register">Registro</a></li>
                    <li><a href="/auth/login">Login</a></li>
                </ul>
            </div>
        </div>
        <!--End row-->
    </div>
    <!--End container-->
</footer>
</div>
<!-- End wrapper-->
<!--Javascript-->
<script src="/javascripts/jquery-1.12.4.min.js" type="text/javascript"></script>
<script src="/javascripts/venobox.min.js" type="text/javascript"></script>
<script src="/javascripts/smooth-scroll.js" type="text/javascript"></script>
<script src="/javascripts/placeholders.min.js" type="text/javascript"></script>
<script src="/javascripts/script.js" type="text/javascript"></script>
<!-- Google analytics -->
<!-- End google analytics -->
</body>

</html>