<%- include('header', {title: 'Acceso al sistema' , 'bodyClass' : 'login' }); %>
    <style>
        div[view_id=form1] {
            margin: 30px auto;
            display: block;
            float: none;
            height: 300px !important;
        }
    </style>
    <script type="text/javascript" charset="utf-8">

        var fields = [];
        webix.ready(function () {

            var form1 = [
                { template: "Confirmación de Email", type: "section", textAlign: "center" },
                { view: "text", type: "text", label: "Código recibido", maxlenght: 4, placeholder: "Conjunto alfanumérico de 4 caracteres", name: "code", id: "code" },
                {
                    margin: 5, cols: [
                        {
                            view: "button", type: "submit", value: "Verificar", id: "login", css: "webix_primary", hotkey: "enter", click: function (ev) {
                                $$('form1').validate();
                            }
                        },
                        { view: "button", value: "Reenviar", click: () => { window.location.href = "/auth/confirmation" } }
                    ]
                },
                { template: "<h3>Instrucciones</h3>" }
            ];


            webix.ui({
                // container: "layout_div",
                id: "form1",
                view: "form",
                scroll: false,
                width: 300,
                elements: form1,
                elementsConfig: {
                    labelPosition: "top"
                },
                on: {

                    onValidationError: function (key, obj) {
                        var textMSG;

                        if (key == "code")
                            textMSG = "El código ingresado no es válido";

                        webix.message({
                            text: textMSG,
                            type: "error",
                            expire: 3000,
                            id: "messageError"
                        });

                        $$('form1').clear();

                    },

                    onValidationSuccess: function (key, obj) {

                        if (key == "code") {

                            webix.message({
                                text: "Validación de Email Satisfactoria",
                                type: "success",
                                expire: 3000,
                                id: "messageSuccess"
                            });
                            setTimeout(() => { window.location.href = '/admin'; }, 3000);
                        }

                    }
                }

            }).show();

        });

    </script>

    <%- include('footer'); %>