<%- include('header', {title: 'Acceso al sistema' }); %>
    <div id='layout_div' style='width:300px; height:300px; margin:20px auto; float:none; display:block;'></div>
    <script type="text/javascript" charset="utf-8">

        webix.ready(function () {
            var form1 = [
                { template: "Control de Acceso", type: "section" },
                { view: "text", label: "Email", name: "email", id: "email" },
                { view: "text", type: "password", label: "Password", name: "password", id: "password" },
                {
                    margin: 5, cols: [
                        {
                            view: "button", value: "Login", id: "login", css: "webix_primary", click: function () {
                                //this.getParentView().validate(); //form.validate()
                                $$('form1').validate();
                            }
                        },
                        { view: "button", value: "Cancel" }
                    ]
                }
            ];


            webix.ui({
                container: "layout_div",
                id: "form1",
                view: "form",
                scroll: false,
                width: 300,
                elements: form1,
                rules: {
                    "email": webix.rules.isEmail,
                    "password": webix.rules.isNotEmpty
                },
                elementsConfig: {
                    labelPosition: "top"
                },
                on: {

                    onValidationError: function (key, obj) {
                        var text;

                        if (key == "email")
                            text = "El correo electrónico debe ser una dirección válida";
                        if (key == "password")
                            text = "Debe especificar una contraseña valida para ingresar";

                        webix.message({ type: "error", text: text });
                    },
                    onValidationSuccess: function(key, obj) {

                        //if (key == "login") {
                            webix.ajax().post("/auth/validate", $$('form1').getValues(), function (text, data, xhr) {
                                if (text == 'OK') {
                                    
                                    webix.message({
                                        text: "Validación de acceso exitoso",
                                        type: "success",
                                        expire: 10000,
                                        id: "messageSuccess"
                                    });
                                    setTimeout(()=> { window.location.href = '/manager'; },10000);
                                }
                                else {
                                    webix.message({
                                        text: "Usuario o Contraseña incorrectos",
                                        type: "error",
                                        expire: 10000,
                                        id: "message1"
                                    });
                                    setTimeout(()=> { window.location.href = '/auth/login'; },10000);
                                }
                            });
                        //}

                    }

                }
            });
        });


        /*
        */
    </script>

    <%- include('footer'); %>