<div id="htmlInclude">
    <h2>Bienvenido a Fitsys</h2><hr>
    <p>Puede utilizar la barra lateral para navegar a través de los datos y la navegación 
        superior para la administración de su cuenta.</p>
</div>