<h3>FITSYS</h3><hr>
<p>Hola <%= nombre %>,</p>
<p>Lamentamos que hayas olvidado tu contraseña, dale click al siguiente enlace para definir una nueva contraseña:<br>
<strong><%= reset-link %></strong></p>
<p>Atentamente,</p>
<br>
<br>
<br>
<p>--<br>
<em>Equipo Fitsys</em></p>
<br>
<hr>
<small>Derechos reservados ©2023 - Proyecto Fitsys</small>