<h3>FITSYS</h3><hr>
<p>Hola <%= nombre %>,</p>
<p>A continuación te mostramos la lista de ejercicios de tu plan "<%= nombrePlan %>" que tu
entrenador te asignó para el día de hoy:</p>
<quote><%= listaEjercicios %></quote>
<p>Atentamente,</p>
<br>
<br>
<br>
<p>--<br>
<em>Equipo Fitsys</em></p>
<br>
<hr>
<small>Derechos reservados ©2023 - Proyecto Fitsys</small>