<h3>FITSYS</h3><hr>
<p>Hola <%= nombre %>,</p>
<p>Gracias por registrarte en Fitsys, este mensaje es para indicarte que el día de hoy
inicia el plan "<%= nombrePlan %>", adicional a este correo recibirás un mensaje con el
detalle de los ejercicios que tu entrenador ha definido en tu plan.</p>
<p>Atentamente,</p>
<br>
<br>
<br>
<p>--<br>
<em>Equipo Fitsys</em></p>
<br>
<hr>
<small>Derechos reservados ©2023 - Proyecto Fitsys</small>