<h3>FITSYS</h3><hr>
<p>Hola <%= nombre %>,</p>
<p>Gracias por registrarte en Fitsys, tu asistente para planes de ejercicios.<br>
Pronto recibiras notificaciones sobre el o los planes que fueron asignados a ti.</p>
<p>Atentamente,</p>
<br>
<br>
<br>
<p>--<br>
<em>Equipo Fitsys</em></p>
<br>
<hr>
<small>Derechos reservados ©2023 - Proyecto Fitsys</small>