body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #dddddd;
}

body.login {
  background: url('/images/bg-login-sm.jpg') center center no-repeat;
}

a {
  color: #00B7FF;
}
